body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

:any-link {
    text-decoration-line: none;
}

header,
main,
footer {
    padding: 20px;
}

footer,
header,
.about-container,
.error {
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

nav > div > a,
.about > :last-child > a,
.categories-container > div > a,
.category > :last-child > a,
.item-actions > a,
.items-container > div > a {
    display: block;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #475569;
    color: white;
}

nav > div > a:hover,
.about > :last-child > a:hover,
.categories-container > div > a:hover,
.category > :last-child > a:hover,
.item-actions > a:hover,
.items-container > div > a:hover {
    background-color: #64748b;
}

nav,
.about > :last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo > a {
    font-size: 1.5rem;
    color: #64748b;
}

.about > :first-child > p,
.error > p {
    color: #71717a;
}

.about > :last-child {
    margin-top: 20px;
}

.about-container,
.error-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-container,
.items-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 20px;
}

.categories-container > div,
.items-container > div {
    justify-self: end;
}

.no-categories,
.no-items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-categories > h2,
.no-items > h2 {
    font-size: 1.4rem;
}

.categories > div,
.items > div {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category,
.item {
    border: 1px solid #e5e5e5;
    background-color: #f8fafc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 10px;
    word-break: break-all;
}

.category > :first-child > a,
.item-link > a {
    font-size: 1.3rem;
    color: #18181b;
}

.category > :first-child > a:hover,
.item-link > a:hover {
    color: #71717a;
}

.category > :last-child {
    justify-self: end;
    display: flex;
    gap: 10px;
}

.new-category > div,
.new-item > div,
.delete > div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.new-category > div > form,
.new-item > div > form,
.delete > div > form {
    padding: 10px;
    background-color: #f8fafc;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 250px;
}

.new-category > div > form > div,
.new-item > div > form > div,
.delete > div > form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.new-category > div > form > div > input,
.new-item > div > form > div > input,
.new-item > div > form > div > textarea,
.delete > div > form > div > input {
    padding: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.new-category > div > form > button,
.new-item > div > form > button,
.delete > div > form > button {
    width: min-content;
    align-self: flex-end;
    padding: 5px 20px 5px 20px;
    background-color: #475569;
    color: white;
    border: none;
    border-radius: 5px;
}

.new-category > div > form > button:hover,
.new-item > div > form > button:hover,
.delete > div > form > button:hover {
    background-color: #64748b;
    cursor: pointer;
}

.errors {
    color: red;
    list-style: none;
    padding: 0;
}

.item-img > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.item-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-top: 1px solid #e5e5e5;
}

footer > :last-child {
    transition: transform 200ms;
}

footer > :last-child:hover {
    transform: scale(1.2);
}
