<header>
    <div class="logo">
        <a href="/">Inventory Application</a>
    </div>
    <nav>
        <div>
            <a href="/categories">Explore categories</a>
        </div>
        <div>
            <a href="/items">Explore items</a>
        </div>
    </nav>
</header>
